@{
    ViewBag.Title = "Definición de Estados";
    ViewBag.IdVersion = "TSM0101003|v19011801";
}

@section Scripts {
    <script type="text/javascript">
        var crudServiceBaseUrl = "@string.Format("{0}Estados", TSM.Utils.Config.TSM_WebApi)"
        var UrlES = "@string.Format("{0}EstadosSiguientes", TSM.Utils.Config.TSM_WebApi)"
        var UrlEA = "@string.Format("{0}EstadosAutorizados", TSM.Utils.Config.TSM_WebApi)"
        var UrlRoles = "@string.Format("{0}Roles", TSM.Utils.Config.TSM_WebApi)"
        var VistaTablasUlr = "@string.Format("{0}Tablas", TSM.Utils.Config.TSM_WebApi)"
    </script>
    <script src="~/Scripts/js/Estados.js"></script>
}

    <div class="form-row">
        <div class="form-group col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div class="form-group col-lg-12 ">
                        <label for="CmbTabla" >Tabla:</label>
                        <input id="CmbTabla" class="form-control" />
                        
                    </div>
                    <div class="form-group col-lg-12">
                        <div id="grid"></div>
                    </div>
                   
                </div>
                
            </div>
        </div>
        <div class="form-group col-lg-6">
            <div class="card">
                <div class="card-body">
                   
                        <div id="TabSimulacion">
                            <ul>
                                <li class="k-active">
                                    Estados Autorizaciones
                                </li>
                                <li>
                                    Estados Siguientes
                                </li>
                            </ul>
                            <div class="form-group col-lg-12">
                                <div id="gridEstadosAutorizados"></div>
                            </div>
                            <div class="form-group col-lg-12">
                                <div id="gridEstadosSiguientes"></div>
                            </div>
                        </div>
                   
                </div>

            </div>

        </div>
    </div>
