@{
    ViewBag.Title = "Gestion de Ordenes de Trabajo";
    ViewBag.IdVersion = "TSM0101061|v19050101";
}
@section Scripts {
    <script type="text/javascript">
        var UrlOT = "@string.Format("{0}OrdenesTrabajos", TSM.Utils.Config.TSM_WebApi)";
        var UrlCli = "@string.Format("{0}Clientes", TSM.Utils.Config.TSM_WebApi)";
        var UrlPro = "@string.Format("{0}Programas", TSM.Utils.Config.TSM_WebApi)";
        var UrlCP = "@string.Format("{0}CategoriaPrendas", TSM.Utils.Config.TSM_WebApi)";
        var UrlCC = "@string.Format("{0}CategoriaConfecciones", TSM.Utils.Config.TSM_WebApi)";
        var UrlU= "@string.Format("{0}Ubicaciones", TSM.Utils.Config.TSM_WebApi)";
        var UrlEC = "@string.Format("{0}EjecutivoCuentas", TSM.Utils.Config.TSM_WebApi)";
        var UrlTem = "@string.Format("{0}Temporadas", TSM.Utils.Config.TSM_WebApi)";
        var UrlPren = "@string.Format("{0}CategoriaPrendas", TSM.Utils.Config.TSM_WebApi)";
        var UrlUbi = "@string.Format("{0}Ubicaciones", TSM.Utils.Config.TSM_WebApi)";
        var UrlServ = "@string.Format("{0}Servicios", TSM.Utils.Config.TSM_WebApi)";

      
    </script>
    <script src="~/Scripts/js/GestionOT.js"></script>
}
<div class="form-row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-lg-3">
                        <div class="form-row">
                            <div class=" form-group col-lg-4">
                                <label for="dFechaDesde">Fecha Desde:</label>
                                <input id="dFechaDesde" name="dFechaDesde" class="form-control" />
                            </div>
                            <div class="form-group col-lg-4">
                                <label for="dFechaHasta">Fecha Hasta:</label>
                                <input id="dFechaHasta" name="dFechaHasta" class="form-control" />
                            </div>
                            <div class="form-group col-lg-4 align-self-end">
                                <input type="checkbox" id="chkRangFechas" name="chkRangFechas" class="k-checkbox">
                                <label class="k-checkbox-label" for="chkRangFechas" id="lblchkRangFechas">Rango de Fechas</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-lg-3">
                        <label for="CmbServicio">Servicio:</label>
                        <input id="CmbServicio" name="CmbServicio" class="form-control" />
                    </div>
                    <div class="form-group col-lg-3">
                        <label for="TxtNoOrdeTrabajo">No Orden Trabajo:</label>
                        <input id="TxtNoOrdeTrabajo" name="TxtNoOrdeTrabajo" type="text" class="k-textbox form-control" />
                    </div>
                    <div class="form-group col-lg-3">
                        <label for="CmbCliente">Cliente:</label>
                        <input id="CmbCliente" name="CmbCliente" class="form-control" />
                    </div>
                </div>
                <div class="form-row">

                    <div class="form-group col-lg-3 ">
                        <label for="CmbEjecutivo">Ejecutivo Cuenta:</label>
                        <input id="CmbEjecutivo" name="CmbEjecutivo" class="form-control" />
                    </div>
                    <div class="form-group col-lg-3 ">
                        <label for="CmbPrograma">Programas:</label>
                        <input id="CmbPrograma" name="CmbPrograma" class="form-control" />
                    </div>
                    <div class="form-group col-lg-3">
                        <label for="CmbTemporada">Temporada:</label>
                        <input id="CmbTemporada" name="CmbTemporada" class="form-control" />
                    </div>
                    <div class="form-group col-lg-3">
                        <label for="CmbCategoriaPrenda">Prenda :</label>
                        <input id="CmbCategoriaPrenda" name="CmbCategoriaPrenda" class="form-control" />
                    </div>
                </div>
                <div class="form-row">

                   
                    <div class="form-group col-lg-3">
                        <label for="CmbUbicacion">Ubicacion:</label>
                        <input id="CmbUbicacion" name="CmbUbicacion" class="form-control" />
                    </div>
                    <div class="form-group col-lg-3 align-self-lg-end">
                        <div class="input-group">
                            <div style="width: 100%;">
                                <button type="button" id="btnConsular" name="btnConsular"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-12">
                        <div id="grid"></div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

