@{
    ViewBag.Title = "Costos por Técnicas";
    ViewBag.IdVersion = "TSM0101027|v19010701";
}
@section Scripts {
    <script type="text/javascript">
        var crudServiceBaseUrl = "@string.Format("{0}CostoTecnicas", TSM.Utils.Config.TSM_WebApi)";
        var UrlUniMed = "@string.Format("{0}UnidadesMedidas", TSM.Utils.Config.TSM_WebApi)";
        var UrlApiServ = "@string.Format("{0}Servicios", TSM.Utils.Config.TSM_WebApi)";
        var UrlTec = "@string.Format("{0}Tecnicas", TSM.Utils.Config.TSM_WebApi)";
        var UrlBase ="@string.Format("{0}Bases", TSM.Utils.Config.TSM_WebApi)";

    </script>

    <script src="~/Scripts/js/CostoTecnicas.js"></script>
}

    <div class="form-row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label for="CmbIdServicio">Servicio:</label>
                        <input id="CmbIdServicio" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <div id="grid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>