@{
    ViewBag.Title = "Ingreso de solicitud";
    ViewBag.IdVersion = "TSM0101060|v19040101";

}
@section Scripts {
    <script type="text/javascript">
    var UrlSol = "@string.Format("{0}Solicitudes", TSM.Utils.Config.TSM_WebApi)";
    var UrlTot = "@string.Format("{0}TiposOrdenesTrabajos", TSM.Utils.Config.TSM_WebApi)";
    var UrlCli = "@string.Format("{0}Clientes", TSM.Utils.Config.TSM_WebApi)";
    var UrlSer = "@string.Format("{0}Servicios", TSM.Utils.Config.TSM_WebApi)";
    var UrlCC = "@string.Format("{0}ContactosClientes", TSM.Utils.Config.TSM_WebApi)";
    var UrlEC = "@string.Format("{0}EjecutivoCuentas", TSM.Utils.Config.TSM_WebApi)";
    var UrlECC = "@string.Format("{0}EjecutivoCuentasClientes", TSM.Utils.Config.TSM_WebApi)";
    var UrlTem = "@string.Format("{0}Temporadas", TSM.Utils.Config.TSM_WebApi)";
    var UrlPro = "@string.Format("{0}Programas", TSM.Utils.Config.TSM_WebApi)";
    var UrlSp = "@string.Format("{0}SolicitudesPrendas", TSM.Utils.Config.TSM_WebApi)";
    var UrlSpu = "@string.Format("{0}SolicitudesPrendasUbicaciones", TSM.Utils.Config.TSM_WebApi)";
    var UrlCp = "@string.Format("{0}CategoriaConfecciones", TSM.Utils.Config.TSM_WebApi)";
    var UrlCpreUb = "@string.Format("{0}CategoriaPrendasUbicaciones", TSM.Utils.Config.TSM_WebApi)";
    var UrlSdp = "@string.Format("{0}SolicitudesDisenoPrendas", TSM.Utils.Config.TSM_WebApi)";
    var UrlComTel = "@string.Format("{0}ComposicionTelas", TSM.Utils.Config.TSM_WebApi)";
    var UrlConsTel = "@string.Format("{0}ConstruccionTelas", TSM.Utils.Config.TSM_WebApi)";
    var UrlTm = "@string.Format("{0}TipoMuestras", TSM.Utils.Config.TSM_WebApi)";
    var UrlUm = "@string.Format("{0}UnidadesMedidas", TSM.Utils.Config.TSM_WebApi)";
    var UrlSdpt = "@string.Format("{0}SolicitudesDisenosPrendasTecnicas", TSM.Utils.Config.TSM_WebApi)";
    var UrlTec = "@string.Format("{0}Tecnicas", TSM.Utils.Config.TSM_WebApi)";
    var UrlMd = "@string.Format("{0}MotivosDesarrollos", TSM.Utils.Config.TSM_WebApi)";
    var UrlPot = "@string.Format("{0}PrioridadesOrdenesTrabajos", TSM.Utils.Config.TSM_WebApi)";
    var UrlCata = "@string.Format("{0}CategoriaTallas", TSM.Utils.Config.TSM_WebApi)";
    var vIdSolicitud = @ViewData["idsolicitud"];
        var vIdServSol = @ViewData["idServicio"];
        var vIdClienteSol =@ViewData["idCliente"];
    </script>
    <script src="~/Scripts/js/IngresoSolicitudes.js"></script>
    @*<script src="~/Scripts/js/_SolicitudRegCliente.js"></script>*@
    <script src="~/Scripts/js/_SolicitudRegPrenda.js"></script>
    @*<script src="~/Scripts/js/_SolicitudRegDisenoPrendaPieza.js"></script>*@
    @*<script src="~/Scripts/js/_SolicitudRegDisenoPrendaTela.js"></script>*@
    <script src="~/Scripts/js/_SolicitudRegDisenoPrendaUbicacion.js"></script>
    @*<script src="~/Scripts/js/_SolicitudRegDisenoPrendaMuestra.js"></script>*@
    <script src="~/Scripts/Jquery/jquery.smartWizard.js"></script>
    <link href="~/Content/smart_wizard_theme_arrows.css" rel="stylesheet" />
    @*<script src="~/Scripts/kendo/kendo.multicolumncombobox.min.js"></script>*@
}
<link href="~/Content/TSM_imagen_modal.css" rel="stylesheet" />

<div class="form-control col-lg-12 sw-main sw-theme-arrows" id="smartwizard">
    <ul id="EtapaOpc" class="nav nav-fill nav-tabs step-anchor">
   
        <li class="nav-item">
            <a href="#p-1" class="nav-link">
                <span class="TS-icon-CAMISA-2 ficonEtp"></span><br>
                <small>PASO 01 - PRENDA Y PARTES DE DISEÑOS </small>
            </a>
        </li>
        <li class="nav-item">
            <a href="#p-2" class="nav-link">
                <span class="TS-icon-CA3 ficonEtp"></span><br>
                <small>PASO 02- INGRESA LA INFORMACION DE DISEÑO + UBICACION</small>
            </a>
        </li>
      
    </ul>
    <div class="sw-container tab-content">
      
        <div id="p-1" class="tab-pane step-content">
            @Html.Partial("_SolicitudRegPrenda")
        </div>
 
        <div id="p-2" class="tab-pane step-content">
            @Html.Partial("_SolicitudRegDisenoPrendaUbicacion")
        </div>
    </div>
</div>
<!-- The Modal -->
<div id="myModal" class="modal-img">
    <span class="close-img" id="idcloseMod">&times;</span>
    <img class="modal-content-img" id="img01">
    <div id="caption"></div>
</div>

<div id="ModalMsgSol" class="modal fade" role="dialog">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center" id="ModalClieEjeLabel"></h3>
                <button type="button" class="close" data-dismiss="modal" id="btnCloseMsg" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div id="MshSol">
                    <div class="form-row">
                        <div class="form-group col-lg-4 text-center">
                            <i class="k-icon k-i-check" style="font-size:120px;"></i>
                        </div>
                        <div class="form-group col-lg-8">
                            <h2></h2>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>



