@{
    ViewBag.Title = "Analisis de Diseño";
    ViewBag.IdVersion = "TSM0101025|v19011801";
}

@section Scripts{

    <script type="text/javascript">
        var UrlApiServ = "@string.Format("{0}Servicios", TSM.Utils.Config.TSM_WebApi)";
        var UrlUniMed = "@string.Format("{0}UnidadesMedidas", TSM.Utils.Config.TSM_WebApi)";
        var UrlRD = "@string.Format("{0}RequerimientoDesarrollos", TSM.Utils.Config.TSM_WebApi)";
        var UrlAD = "@string.Format("{0}AnalisisDisenos", TSM.Utils.Config.TSM_WebApi)";
        var UrlS = "@string.Format("{0}Separaciones", TSM.Utils.Config.TSM_WebApi)";
        var UrlSD = "@string.Format("{0}SeparacionesDetalles", TSM.Utils.Config.TSM_WebApi)";
        var UrlTec = "@string.Format("{0}Tecnicas", TSM.Utils.Config.TSM_WebApi)";
        var UrlCI = "@string.Format("{0}CatalogoInsumos", TSM.Utils.Config.TSM_WebApi)";
        var UrlMq = "@string.Format("{0}Maquinas", TSM.Utils.Config.TSM_WebApi)";
        var UrlLD = "@string.Format("{0}LienzoDimensiones", TSM.Utils.Config.TSM_WebApi)";
        var UrlEP = "@string.Format("{0}EtapasProcesos", TSM.Utils.Config.TSM_WebApi)";
        var UrlApiArteAdj = "@string.Format("{0}ArteAdjuntos", TSM.Utils.Config.TSM_WebApi)";
        var UrlADAdj = "@string.Format("{0}ArteAdjuntos", TSM.Utils.Config.TSM_WebApi)";
        var UrlFC = "@string.Format("{0}FactoresCostos", TSM.Utils.Config.TSM_WebApi)";
        var UrlApiClient = "@string.Format("{0}Clientes", TSM.Utils.Config.TSM_WebApi)";
        var UrlApiCoTec = "@string.Format("{0}CostoTecnicas", TSM.Utils.Config.TSM_WebApi)";
        var UrlBases = "@string.Format("{0}Bases", TSM.Utils.Config.TSM_WebApi)";



    </script>
    <script src="~/Scripts/js/AnalisisDisenos.js"></script>
    <script src="~/Scripts/js/_EstadoRequerimientoDesarrollo.js"></script>
    <script src="~/Scripts/js/RequerimientoDesarrollosEstados.js"></script>
    <script src="~/Scripts/js/RequerimientoDesarrollosConsulta.js"></script>
}
<link href="~/Content/bootstrap/AdjCarousel.css" rel="stylesheet" />
<style>
    #gridPlantillas,
    #GSublimacion,
    #GSeparacion,
    #ReqDes {
        height: 100%;
    }

</style>
<div class="form-row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <div class="form-row">
                        <div class="form-group col-lg-4">
                            <label for="IdServicio">Servicio :</label>
                            <input id="IdServicio" name="IdServicio" required validationMessage="Requerido" class="form-control" />
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="IdCliente">Cliente :</label>
                            <input id="IdCliente" name="IdCliente" required validationMessage="Requerido" class="form-control" />
                        </div>
                        <div class="form-group col-lg-4 align-self-end">
                            <button type="button" id="btnCambioEstado" name="btnCambioEstado"></button>
                        </div>
                    </div>
                            <div id="splitter">
                                <div id="middle-panel" >
                                    <div id="ReqDes" ></div>
                                </div>
                                <div id="bottom-panel">
                                    <div class="form-group col-lg-12">
                                        @*vista para los adjuntos*@
                                        <span id="vistaParSeri"></span>

                                        <div class="form-row">
                                            <div class="form-group col-lg-12">
                                                @Html.Partial("_EstadoRequerimientoDesarrollo")
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-lg-12"><label class="font-weight-bold">Información general</label></div>
                                            @*Conuslta requerimiento de desarrollo*@
                                            <div id="vConsulta"></div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-lg-12" id="divSerigrafia">
                                                @Html.Partial("_AnalisDisenoSerigrafia")
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-lg-12" id="divSubli" hidden="hidden">
                                                @Html.Partial("_AnalisDisenoSublimacion")
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-lg-12" id="divPlan" hidden="hidden">
                                                @Html.Partial("_AnalisDisenoPlantilla")
                                            </div>
                                        </div>
                                    </div>
                                    @* div utilizado para cargar la vista estados *@
                                    <div class="form-row" id="vConsultaEstados"></div>
                                    @*Etiqueta vista parcial cambio de estado*@
                                    <div id="vCambioEstado"></div>
                                </div>
                            </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>




