@{
    ViewBag.Title = "Definición Catalogo Insumos";
    ViewBag.IdVersion = "TSM0101023|v19010701";
}
@section Scripts {
    <script type="text/javascript">
        var crudServiceBaseUrl = "@string.Format("{0}CatalogoInsumos", TSM.Utils.Config.TSM_WebApi)";
        var UrlUniMed = "@string.Format("{0}UnidadesMedidas", TSM.Utils.Config.TSM_WebApi)";
        var UrlTI = "@string.Format("{0}TamanosInsumos", TSM.Utils.Config.TSM_WebApi)";
        var UrlGI = "@string.Format("{0}GradosInsumos", TSM.Utils.Config.TSM_WebApi)";
        var UrlFTI = "@string.Format("{0}FormaTipoInsumos", TSM.Utils.Config.TSM_WebApi)";
        var UrlSrv = "@string.Format("{0}Servicios", TSM.Utils.Config.TSM_WebApi)";
        var UrlTec = "@string.Format("{0}Tecnicas", TSM.Utils.Config.TSM_WebApi)";
    </script>
    <script src="~/Scripts/js/CatalogoInsumos.js"></script>
}

<style>

    .warning {
        font-weight: bold;
        color: #ff0000;
    }
    .warning2 {
        font-weight: bold;
        color: #0026ff;
    }
    .warning3 {
        font-weight: bold;
        color: #f00;
    }
    .warning4 {
        font-weight: bold;
        color: #b200ff;
    }
    .new {
        font-weight: bold;
        color: #f00;
        
        /*background-color: #ced;*/
    }
  
</style>

<div class="form-row">
    <div class="form-group col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group col-lg-12">
                    <div class="form-row k-rtl k-content">
                        <div class="form-group">
                            <button id="btnMostrarCambios" type="button" name="btnMostrarCambios"></button>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <div id="grid"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@* vista parcial catalogo insumos comparar *@

<div id="viewCataInsumos"></div>
