<!DOCTYPE html>
<html lang="es-sv" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Techno Screen Management</title>
    @Styles.Render("~/Content/bootstrap/css")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Kendo/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body id="body">
    <span id="kendoNotificaciones"></span>
    @*TSM Hedear page / Mensajes / notificaciones *@
    <div class="main-header" style="background: @TSM.Utils.Config.ColorApp;" id="headerPage">
        <!-- Logo Header -->
        <div class="logo-header">
            <a href=@Url.Action("Index", "Home") class="logo">
                <img src="~/Images/TSM4hdpi.png" alt="navbar brand" class="navbar-brand">  @*68X21 image/svg+xml*@
            </a>
            <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i class="k-icon k-i-menu ficonm"></i>
                </span>
            </button>
            <button class="topbar-toggler more"><i class="k-icon k-i-more-vertical ficonm"></i></button>
            <div class="navbar-minimize">
                <button class="btn btn-minimize btn-rounded">
                    <i class="k-icon k-i-menu ficonm"></i>
                </button>
            </div>
        </div>
        <!-- End Logo Header -->
        <!-- Navbar Header -->
        <nav class="navbar navbar-header navbar-expand-lg" style="background-color: @TSM.Utils.Config.ColorApp;">
            <div class="container-fluid">
                <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">

                    <li class="nav-item toggle-nav-search hidden-caret">
                        <a class="nav-link" data-toggle="collapse" href="#search-nav" role="button" aria-expanded="false" aria-controls="search-nav">
                            <i class="TS-icon-BUSCAR"></i>
                        </a>
                    </li>

                    @*<li class="nav-item dropdown hidden-caret">
                        <a class="nav-link dropdown-toggle" href="#" id="messageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="TS-icon-CORREO"></i>
                        </a>*@

                    @* Inicio revisar para mensajeria*@
                    @*<ul class="dropdown-menu messages-notif-box animated fadeIn" aria-labelledby="messageDropdown">
                            <li>
                                <div class="dropdown-title d-flex justify-content-between align-items-center">
                                    Mensajes
                                    <a href="#" class="small">Mark all as read</a>
                                </div>
                            </li>
                            <li>
                                <div class="message-notif-scroll scrollbar-outer">
                                    <div class="notif-center">
                                        <a href="#">
                                            <div class="notif-img">
                                                <img src="~/Images/MailImg.png" alt="Img Profile">
                                            </div>
                                            <div class="notif-content">
                                                <span class="subject">Nombre # 1</span>
                                                <span class="block">
                                                    Mensaje #1
                                                </span>
                                                <span class="time">hace 5 minutos</span>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="notif-img">
                                                <img src="~/Images/MailImg.png" alt="Img Profile">
                                            </div>
                                            <div class="notif-content">
                                                <span class="subject">Nombre # 2</span>
                                                <span class="block">
                                                    Mensaje #2
                                                </span>
                                                <span class="time">hace 12 minutos</span>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="notif-img">
                                                <img src="~/Images/MailImg.png" alt="Img Profile">
                                            </div>
                                            <div class="notif-content">
                                                <span class="subject">Nombre # 3</span>
                                                <span class="block">
                                                    Mensaje #3
                                                </span>
                                                <span class="time">hace 5 minutos</span>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="notif-img">
                                                <img src="~/Images/MailImg.png" alt="Img Profile">
                                            </div>
                                            <div class="notif-content">
                                                <span class="subject">Nombre # 4</span>
                                                <span class="block">
                                                    Mensaje #4
                                                </span>
                                                <span class="time">hace 17 minutos</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                    <a class="see-all" href="javascript:void(0);">Mostrar todos los mensajes<i class="k-icon k-i-arrow-60-right"></i> </a>
                                </li>
                        </ul>*@
                    @* fin revisar para mensajeria*@
                    </li>

                    <li class="nav-item dropdown hidden-caret">
                        <a class="nav-link dropdown-toggle" href="#" id="notifDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="TS-icon-NOTIFICACION"></i>
                            <span class="notification" id="lblCantidadNotificaciones" style="display: none;"></span>
                        </a>
                        @*NOTIFICACIONES*@
                        <ul class="dropdown-menu notif-box animated fadeIn" aria-labelledby="notifDropdown">
                            <li>
                                <div class="dropdown-title" id="divCantidadNotificaciones"></div>
                            </li>
                            <li>
                                <div id="divNotificaciones" class="notif-center list-group list-group-messages list-group-flush">
                                    @*Espacio para notificaciones dinámicamente*@
                                </div>
                            </li>
                            <li>
                                <a class="see-all" href="~/MisNotificaciones">Ver todas las notificaciones<i class="k-icon k-i-arrow-60-right"></i> </a>
                            </li>
                        </ul>
                        @*FIN NOTIFICACIONES*@
                    </li>

                    <li class="nav-item dropdown hidden-caret">
                        <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
                            <div class="avatar-sm" id="MyPhoto2">
                                <img src="~/Images/DefaultUser.png" alt="..." class="avatar-img rounded-circle" />
                            </div>
                        </a>
                        <ul class="dropdown-menu dropdown-user animated fadeIn">
                            <li>
                                <div class="user-box">
                                    <div class="avatar-lg" id="MyPhoto3">
                                        <img src="~/Images/DefaultUser.png" alt="image profile" class="avatar-img rounded">
                                    </div>
                                    <div class="u-text">
                                        <h4><span id="dropDowNombreUser">@*aqui se coloca el Nombre*@</span></h4>
                                        <p class="text-muted"><spand id="MailSeccion1">@*aqui se coloca correo Mail Seccion1*@</spand></p>
                                        @*<a href="profile.html" class="btn btn-rounded btn-danger btn-sm"><span id="btnVerPerfil">ver perfil </span></a>*@
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown-divider"></div>
                                @*<a class="dropdown-item" href="#">Mi perfil</a>
                                    <a class="dropdown-item" href="#">Mi balance</a>
                                    <a class="dropdown-item" href="#">Inbox</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Configuración de cuenta</a>
                                    <div class="dropdown-divider"></div>*@
                                <a id="btnLogout" class="dropdown-item" href="#">Cerrar Sesi&oacute;n</a>
                            </li>
                        </ul>
                    </li>

                    @*revisar esta funcionalidad si aplica*@
                    @*<li class="nav-item">
                            <a href="#" class="nav-link quick-sidebar-toggler">
                                <i class="fa fa-th"></i>
                            </a>
                        </li>*@
                </ul>
            </div>
        </nav>
        <!-- End Navbar -->
    </div>

    @*FIN TSM Hedear page / Mensajes / notificaciones *@

    @*TSM Menu principal *@
    <div class="sidebar">
        <div class="sidebar-wrapper scrollbar-inner scroll-content" style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 912px;">
            <div id="MPContenedor" class="sidebar-content"><!-- ver Menu JS funcion que arma el menu fn_CrearOpcionesMenu --></div>
        </div>
    </div>
    @*FIN TSM Menu principal *@

    @*Contenido principal *@
    <div class="main-panel">
        <div class="content">
            <div class="page-inner">
                <div class="page-header">
                    <h4 class="page-title">@ViewBag.Title</h4>
                    <ul class="breadcrumbs" id="MapaSitio"><!--Dejar en Blanco aqui se construye con JQuery mapa de sitio --></ul>
                </div>
                @RenderBody()
            </div>
        </div>
    </div>
    @* FIN Contenido principal *@

    @*Footer*@
    <div class="fixed-bottom text-white" style="background-color: #2DA5DE;">
        <footer class="align-middle text-center">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8 mb-0">&copy; @DateTime.Now.Year - <a style="color: inherit;" class="btn-link" target="_blank" href="http://www.techno-screen.com/">Techno Screen S.A. de C.V.</a></div>
                <div class="col-md-2 mb-0 text-md-right align-middle" style="font-size: 0.7rem;">@ViewBag.IdVersion</div>
            </div>
        </footer>
    </div>

    @*FIN Footer*@

    <div class="form-row">
        <div id="ModalImgeZoom" class="modal-img">
            <span class="close-img" id="idcloseMod">&times;</span>
                  <img class="modal-content-img" id="img01">
            <div id="caption"></div>      
        </div>    
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryAjax")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Utils/js")
    @Scripts.Render("~/bundles/Kendo/js")
    @Scripts.Render("~/bundles/Kendo/culture/js")
    @Scripts.Render("~/bundles/Kendo/messages/js")
    @Scripts.Render("~/bundles/pdfobject")
    <script src="@(TSM.Utils.Config.TSM_WebApi.Replace("api/", ""))/signalr/hubs" type="text/javascript"></script>
    <script type="text/javascript">
        var UrlMenu = "@string.Format("{0}Menus", TSM.Utils.Config.TSM_WebApi)";
        var UrlNotificaciones = "@string.Format("{0}Notificaciones", TSM.Utils.Config.TSM_WebApi)";
        var UrlMRSeguridad = "@string.Format("{0}MenusRoles", TSM.Utils.Config.TSM_WebApi)";
        var TSM_Web_APi = "@TSM.Utils.Config.TSM_WebApi";
        kendo.culture("es-SV");
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>