
@{
    ViewBag.Title = "Requerimiento de Desarrollo";
    ViewBag.IdVersion = "TSM0101029|v21122801";
}


@section Scripts {
    <script type="text/javascript">
        var UrlApiServ = "@string.Format("{0}Servicios", TSM.Utils.Config.TSM_WebApi)";
        var UrlApiClient = "@string.Format("{0}Clientes", TSM.Utils.Config.TSM_WebApi)";
        var UrlApiSisT = "@string.Format("{0}sistematintas", TSM.Utils.Config.TSM_WebApi)";
        var UrlApiPro = "@string.Format("{0}Programas", TSM.Utils.Config.TSM_WebApi)";
        var UrlApiBoards = "@string.Format("{0}Boards", TSM.Utils.Config.TSM_WebApi)";
        var UrlApiCPre = "@string.Format("{0}CategoriaPrendas", TSM.Utils.Config.TSM_WebApi)";
        var UrlApiCConfec = "@string.Format("{0}CategoriaConfecciones", TSM.Utils.Config.TSM_WebApi)";
        var UrlApiUEstam = "@string.Format("{0}Ubicaciones", TSM.Utils.Config.TSM_WebApi)";
        var UrlApiConsTela = "@string.Format("{0}ConstruccionTelas", TSM.Utils.Config.TSM_WebApi)";
        var UrlApiCompTela = "@string.Format("{0}ComposicionTelas", TSM.Utils.Config.TSM_WebApi)";
        var UrlApiP = "@string.Format("{0}Prendas", TSM.Utils.Config.TSM_WebApi)";
        var UrlApiArte = "@string.Format("{0}Artes", TSM.Utils.Config.TSM_WebApi)";
        var UrlApiArteAdj = "@string.Format("{0}ArteAdjuntos", TSM.Utils.Config.TSM_WebApi)";
        var UrlApiAAdj = "@string.Format("{0}ArteAdjuntos", TSM.Utils.Config.TSM_WebApi)";
        var UrlRD = "@string.Format("{0}RequerimientoDesarrollos", TSM.Utils.Config.TSM_WebApi)";
        var UrlApiTD = "@string.Format("{0}Dimensiones", TSM.Utils.Config.TSM_WebApi)";
        var UrlApiCT = "@string.Format("{0}CategoriaTallas",TSM.Utils.Config.TSM_WebApi)";
        var UrlApiUM = "@string.Format("{0}UnidadesMedidas",TSM.Utils.Config.TSM_WebApi)";
        var UrlReqDesTec = "@string.Format("{0}RequerimientoDesarrollosTecnicas", TSM.Utils.Config.TSM_WebApi)";
        var UrlApiVTec = "@string.Format("{0}Tecnicas", TSM.Utils.Config.TSM_WebApi)";
        var UrlAD = "@string.Format("{0}AnalisisDisenos", TSM.Utils.Config.TSM_WebApi)";
        var UrlRtin = "@string.Format("{0}RequerimientoTintas", TSM.Utils.Config.TSM_WebApi)";
        var UrlUniMed = "@string.Format("{0}UnidadesMedidas", TSM.Utils.Config.TSM_WebApi)";
        var UrlEP = "@string.Format("{0}EtapasProcesos", TSM.Utils.Config.TSM_WebApi)";
        var UrlApiCoTec = "@string.Format("{0}CostoTecnicas", TSM.Utils.Config.TSM_WebApi)";
        var UrlApiBase = "@string.Format("{0}Bases", TSM.Utils.Config.TSM_WebApi)";

    </script>
    <script src="~/Scripts/js/RequerimientoDesarrollos.js?@ViewBag.IdVersion"></script>
    <script src="~/Scripts/js/_EstadoRequerimientoDesarrollo.js?@ViewBag.IdVersion"></script>
    <script src="~/Scripts/js/RequerimientoDesarrollosEstados.js?@ViewBag.IdVersion"></script>

}

<link href="~/Content/bootstrap/AdjCarousel.css" rel="stylesheet" />
<link href="~/Content/TSM_imagen_modal.css" rel="stylesheet" />
<style>
    #GRReqDesTec,
    #GRDimension,
    #grid {
        height: 100%;
    }
</style>

@*Cargar vista parcial modal para copiar requerimientos de desarrollo ingresados*@
@Html.Partial("_CopiarRequerimiento")

@*Etiqueta vista parcial cambio de estado*@
<div id="vCambioEstado"></div>

<!-- SECION FILTRO REQUERIMIENTO DESARROLLO-->
<div class="form-row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                   <div class="form-row">
                        <div class="form-group col-lg-4">
                            <label for="IdServicio">Servicio :</label>
                            <input id="IdServicio" name="IdServicio" required validationMessage="Requerido" class="form-control" />
                        </div>

                        <div class="form-group col-lg-4">
                            <label for="IdCliente">Cliente :</label>
                            <input id="IdCliente" name="IdCliente" required validationMessage="Requerido" class="form-control" />
                        </div>
               
                        <div class="form-group col-lg-4 align-self-lg-end">
                            <button type="button" id="Nuevo" name="Nuevo"></button>
                            <button type="button" id="Copiar" name="Copiar" data-toggle="modal" data-target="#CopiarRegistro"></button>
                            <button type="button" id="btnCambioEstado" name="btnCambioEstado"></button>
                        </div>
                   </div>

                   <div id="splitter">
                                <!--panel medio-->
                                <div id="middle-panel"  >
                                    <div id="grid"></div>
                                </div>
                                <!--panel inferior-->
                                <div id="bottom-panel" >
                                    <div class="form-group col-lg-12">
                                        <!-- Vista Parcial estados del requerimiento-->
                                        @Html.Partial("_EstadoRequerimientoDesarrollo")
                                    </div>
                                    <div class="form-group col-lg-12">
                                        <form id="ReqDes" method="POST" enctype="multipart/form-data" autocomplete="off">
                                            <ul id="BarPanel">
                                                <li class="k-active">
                                                    <span class="TS-icon-INFORMACION-2" style="font-size: 1.7em;">&nbsp</span>
                                                    Información General

                                                    <!-- SECION REQUERIMIENTO y PRENDA -->
                                                    <div class="form-row">
                                                            <div class="form-group col-lg-12" id="DivFrmRD">
                                                                <!-- SECION FROMULARIO REQUERIMIENTO DE DESARROLLO -->

                                                                <div class="border p-md-1 p-lg-1 ">
                                                                    <div class="form-row">

                                                                        <div class="col-lg-4"> <input id="IdRequerimiento" name="IdRequerimiento" class="k-textbox form-control" , disabled="disabled" value="0" hidden="hidden" /></div>
                                                                        <div class="col-lg-4"> <input id="Estado" name="Estado" class="k-textbox form-control" , disabled="disabled" value="" hidden="hidden" /></div>
                                                                        <div class="form-group col-md-6 col-lg-9"> <label class="font-weight-bold"></label></div>
                                                                        <div class="form-group col-md-6 col-lg-3 ">
                                                                            <input type="checkbox" id="chkRevisionTecnica" name="chkRevisionTecnica" class="k-checkbox k-checkbox-md k-rounded-md">
                                                                            <label class="k-checkbox-label" for="chkRevisionTecnica">Revisión Técnica</label>
                                                                        </div>

                                                                    </div>
                                                                    <div class="form-row">
                                                                        <div class="form-group col-md-6 col-lg-3" id="colND">
                                                                            <label for="NoDocumento">No Requerimiento:</label>
                                                                            <input id="NoDocumento" name="NoDocumento" class="k-textbox form-control" , disabled="disabled" />
                                                                        </div>

                                                                        <div class="form-group col-md-6 col-lg-3" id="colFecha">
                                                                            <label for="Fecha">Fecha:</label>
                                                                            <input id="Fecha" name="Fecha" required validationMessage="Requerido" class="form-control" />
                                                                        </div>
                                                                        <div class="form-group col-md-6 col-lg-3" id="colPro">
                                                                            <label for="IdPrograma">Programa:</label>
                                                                            <input id="IdPrograma" name="IdPrograma" required validationMessage="Requerido" class="form-control" />
                                                                        </div>
                                                                        <div class="form-group col-md-6 col-lg-3">
                                                                            <div class="form-row">
                                                                                <div class="form-group col-md-6 col-lg-7">
                                                                                    <label for="CntPiezas"><a href="~/Support/IT_PreCosteo_Requerimientos_Cantidades_Montajes.pdf" target="_blank">Cantidad a Producir:</a></label>
                                                                                    <input id="CntPiezas" name="CntPiezas" type="text" required data-max-msg="ingrese el valor entre 1 y 999999999" class="form-control" />
                                                                                </div>
                                                                                <div class="form-group col-md-6 col-lg-5">
                                                                                    <label for="CmbIdUnidadMedidaCantidad">Unidad de Medida:</label>
                                                                                    <input id="CmbIdUnidadMedidaCantidad" name="CmbIdUnidadMedidaCantidad" class="form-control" />
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-row" id="Row4RD">
                                                                        <!-- Row4RD este id se utiliza para oculatar la fila dependiendo del servicio-->
                                                                        <div class="form-group col-md-6 col-lg-3">
                                                                            <label for="TallaPrincipal" id="lblTallas">Tallas:</label>
                                                                            <input id="TallaPrincipal" name="TallaPrincipal" class="k-textbox form-control" disabled="disabled" />
                                                                        </div>
                                                                        <div class="form-group col-md-6 col-lg-3">
                                                                            <label for="CantidadTallas" id="lblCantidadTallas">Cantidad Tallas:</label>
                                                                            <input id="CantidadTallas" name="CantidadTallas" type="text" required data-max-msg="ingrese el valor entre 1 y 999999999" class="form-control" />
                                                                        </div>
                                                                        <div class="form-group col-md-6 col-lg-3">
                                                                            <div class="form-row">
                                                                                <div class="form-group col-md-7 col-lg-8">
                                                                                    <label for="CantidadColores" id="lblCantidadColores">Cantidad Colores:</label>
                                                                                    <input id="CantidadColores" name="CantidadColores" type="text" required data-max-msg="ingrese el valor entre 1 y 999999999" class="form-control" />
                                                                                </div>
                                                                                <div class="form-group col-md-5 col-lg-4 align-self-end">
                                                                                    <input type="checkbox" id="chkDisenoFullColor" name="chkDisenoFullColor" class="k-checkbox k-checkbox-md k-rounded-md">
                                                                                    <label class="k-checkbox-label" for="chkDisenoFullColor" id="lblDisenoFullColor">Full Color</label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group col-md-6 col-lg-3">
                                                                            <label for="Montaje" id="lblMontaje"><a href="~/Support/IT_PreCosteo_Requerimientos_Cantidades_Montajes.pdf" target="_blank">Montajes:</a></label>
                                                                            <input id="Montaje" name="Montaje" type="text" required data-max-msg="ingrese el valor entre 1 y 999999999" class="form-control" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-row" id="Row5RD">
                                                                        <!-- Row5RD este id se utiliza para oculatar la fila dependiendo del servicio-->
                                                                        <div class="form-group col-md-6 col-lg-3">
                                                                            <label for="Combo" id="lblCombo">Combo:</label>
                                                                            <input id="Combo" name="Combo" type="text" required data-max-msg="ingrese el valor entre 1 y 999999999" class="form-control" />
                                                                        </div>
                                                                        <div class="form-group col-md-6 col-lg-3">
                                                                            <label for="TxtVelocidadMaquina" id="lblVelocidadMaq"><a href="~/Support/IT_PreCosteo_Requerimientos_Velocidad.pdf" target="_blank">Velocidad Maquina:</a></label>
                                                                            <input id="TxtVelocidadMaquina" name="TxtVelocidadMaquina" class="form-control" required value="0" />
                                                                        </div>
                                                                        <div class="form-group col-md-6 col-lg-3">
                                                                            <label for="CmbIdUnidadVelocidad" id="lblIdUnidadVelocidad">Unidad Velocidad:</label>
                                                                            <input id="CmbIdUnidadVelocidad" name="CmbIdUnidadVelocidad" class="form-control" />
                                                                        </div>
                                                                        <div class="form-group col-md-6 col-lg-3">
                                                                            <label for="CmbBase" id="lblBase"><a href="~/Support/IT_PreCosteo_Requerimientos_Bases.pdf" target="_blank">Base:</a></label>
                                                                            <input id="CmbBase" name="CmbBase" class="form-control" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-row">
                                                                        <div class="form-group col-md-12 col-lg-12">
                                                                            <label for="InstruccionesEspeciales"> Instrucciones Especiales:</label>
                                                                            <input id="InstruccionesEspeciales" name="InstruccionesEspeciales" class="k-textbox form-control" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-row">
                                                                    <br />
                                                                </div>
                                                                <!-- SECION FROMULARIO PRENDA-->
                                                                <div class="border p-md-1 p-lg-1">
                                                                    <div class="form-row">
                                                                        <div class="col-lg-6"><label class="font-weight-bold">Prenda</label></div>
                                                                        @*<div class="col-lg-6"> <input id="IdPrenda" name="IdPrenda" class="k-textbox form-control" , disabled="disabled" value="0" hidden="hidden" /></div>*@
                                                                    </div>
                                                                    <div class="form-row">
                                                                        <div class="form-group col-md-6 col-lg-3">
                                                                            <label for="IdComposicionTela">Composición Tela:</label>
                                                                            <input id="IdComposicionTela" name="IdComposicionTela"  class="form-control" />
                                                                        </div>
                                                                        <div class="form-group col-md-6 col-lg-3">
                                                                            <label for="IdCategoriaConfeccion">Confección:</label>
                                                                            <input id="IdCategoriaConfeccion" name="IdCategoriaConfeccion"  class="form-control" />
                                                                        </div>
                                                                        <div class="form-group col-md-6 col-lg-3">
                                                                            <label for="IdConstruccionTela">Construcción Tela:</label>
                                                                            <input id="IdConstruccionTela" name="IdConstruccionTela"  class="form-control" />
                                                                        </div>
                                                                        <div class="form-group col-md-6 col-lg-3">
                                                                            <label for="Color">Color:</label>
                                                                            <input id="Color" name="Color"  class="k-textbox form-control" />
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-row">
                                                                        <div class="form-group col-md-6 col-lg-3" id="colTp">
                                                                            <label for="IdCategoriaPrenda">Tipo Prenda:</label>
                                                                            <input id="IdCategoriaPrenda" name="IdCategoriaPrenda" class="form-control" />
                                                                        </div>
                                                                        <div class="form-group col-md-6 col-lg-3">
                                                                            <label for="IdUbicacion">Ubicación del Estampado:</label>
                                                                            <input id="IdUbicacion" name="IdUbicacion"  class="form-control" />
                                                                        </div>
                                                                        <div class="form-group col-md-6 col-lg-3">
                                                                            <label id="LblUbicacionVer" for="UbicacionVer">Ubicación Vertical: </label>
                                                                            <input id="UbicacionVer" name="UbicacionVer" type="text" class="k-textbox form-control" />
                                                                        </div>
                                                                        <div class="form-group col-md-6 col-lg-3">
                                                                            <label id="LblUbicacionHor" for="UbicacionHor">Ubicación Horizontal:</label>
                                                                            <input id="UbicacionHor" name="UbicacionHor" type="text" class="k-textbox form-control" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-row">
                                                                        <div class="form-group col-md-12 col-lg-12">
                                                                            <label for="IdSistemaTinta">Sistemas de Tintas:</label>
                                                                            <input id="IdSistemaTinta" name="IdSistemaTinta" class="form-control" />
                                                                        </div>
                                                                    </div>
                                                                </div>



                                                            </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-lg-12">
                                                            <div class="form-row">

                                                                <div class="form-group col-lg-7">
                                                                    <!-- SECION FROMULARIO ARTE-->
                                                                    <div class="border p-md-1 p-lg-1">
                                                                        <div class="form-row">
                                                                            <div class="col-lg-6"><label class="font-weight-bold">Diseño</label></div>
                                                                            <div class="col-lg-6"> <input id="IdArte" name="IdArte" class="k-textbox form-control" , disabled="disabled" value="0" hidden="hidden" /></div>
                                                                        </div>
                                                                        <div class="form-row">
                                                                            <div class="form-group col-md-6 col-lg-6">
                                                                                <label for="Nombre">Nombre del Diseño:</label>
                                                                                <input id="Nombre" name="Nombre" type="text" class="k-textbox form-control" required validationMessage="Requerido" />
                                                                            </div>
                                                                            <div class="form-group col-md-6 col-lg-6">
                                                                                <label for="NumeroDiseno">Numero del Diseño:</label>
                                                                                <input id="NumeroDiseno" name="NumeroDiseno" type="text" class="k-textbox form-control" />
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-row">
                                                                            <div class="form-group col-lg-12">
                                                                                <label for="EstiloDiseno">Estilo:</label>
                                                                                <input id="EstiloDiseno" name="EstiloDiseno" type="text" class="k-textbox form-control" required validationMessage="Requerido" />
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-row">
                                                                            <div class="form-group col-lg-12">
                                                                                <label for="TxtDirectorioArchivos">Directorio Archivos:</label>
                                                                                <input id="TxtDirectorioArchivos" name="TxtDirectorioArchivos" type="text" class="k-textbox form-control" />
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                    <div class="form-row"> <div class="form-group"></div></div>
                                                                    <div class="form-row">
                                                                        <div class="form-group col-md-12 col-lg-4 align-self-lg-end">
                                                                            <div class="input-group">
                                                                                <div style="width: 100%;">
                                                                                    <button type="button" id="Guardar" name="Guardar"></button>
                                                                                    <button type="button" id="Eliminar" name="Eliminar"></button>
                                                                                    @Html.Partial("_ArteAdjuntos")
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                               
                                                                <div class="form-group col-lg-5">
                                                                    <!-- SECION ADJUNTOS-->
                                                                    <div class="form-row">
                                                                        <div class="form-group col-lg-12" id="Div_Carousel">
                                                                            @* aqui se coloca dinamicamente las imagenes  *@
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-row">
                                                                        <div class="form-group col-lg-3">
                                                                           
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </li>

                                                <li id="BPGRDimension">
                                                    <span class="TS-icon-TEXTO-2" style="font-size: 1.7em;">&nbsp</span>
                                                    Dimensiones

                                                    <div class="form-row" id="DimenGrid">
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                                <div id="GRDimension"></div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </li>

                                                <li id="BPGRReqDesTec">
                                                    <span class="TS-icon-TECNICA-2" style="font-size: 1.7em;">&nbsp</span>
                                                    Detallle de Técnicas

                                                    <div class="form-row" id="ColorGrid">
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                                <div id="GRReqDesTec"></div>
                                                            </div>
                                                        </div>

                                                    </div>


                                                </li>

                                            </ul>
                                        </form>

                                        @* div utilizado para cargar la vista estados *@
                                        <div class="form-row" id="vConsultaEstados"></div>

                                    </div>
                                </div>
                            </div>
                
            </div>
        </div>
    </div>
</div>




