@{
    ViewBag.Title = "Simulación de Pre-costeo";
    ViewBag.IdVersion = "TSM0101029|v19011801";
}

@section Scripts {
    <script type="text/javascript">
        var UrlApiServ = "@string.Format("{0}Servicios", TSM.Utils.Config.TSM_WebApi)";
        var UrlApiClient = "@string.Format("{0}Clientes", TSM.Utils.Config.TSM_WebApi)";
        var UrlApiSimu = "@string.Format("{0}Simulaciones", TSM.Utils.Config.TSM_WebApi)";
        var UrlAD = "@string.Format("{0}AnalisisDisenos", TSM.Utils.Config.TSM_WebApi)";
        var UrlSimRen = "@string.Format("{0}SimulacionesRentabilidades", TSM.Utils.Config.TSM_WebApi)";
        var UrlFac = "@string.Format("{0}RentabilidadConfiguraciones", TSM.Utils.Config.TSM_WebApi)";
        var UrlSimConsumo = "@string.Format("{0}SimulacionesConsumos", TSM.Utils.Config.TSM_WebApi)";
        var UrlTec = "@string.Format("{0}Tecnicas", TSM.Utils.Config.TSM_WebApi)";
        var UrlCosTec = "@string.Format("{0}CostoTecnicas", TSM.Utils.Config.TSM_WebApi)";
        var UrlUM = "@string.Format("{0}UnidadesMedidas", TSM.Utils.Config.TSM_WebApi)";
        var UrlCatalo = "@string.Format("{0}CatalogoInsumos", TSM.Utils.Config.TSM_WebApi)";
        var UrlEP = "@string.Format("{0}EtapasProcesos", TSM.Utils.Config.TSM_WebApi)";
        var UrlCI = "@string.Format("{0}CatalogoInsumos", TSM.Utils.Config.TSM_WebApi)";
        var UrlRequeDesarrollo = "@string.Format("{0}RequerimientoDesarrollos", TSM.Utils.Config.TSM_WebApi)";
    </script>

    <script src="~/Scripts/js/Simulaciones.js"></script>
    <script src="~/Scripts/js/RequerimientoDesarrollosEstados.js"></script>
    <script src="~/Scripts/js/AnalisisDisenosConsulta.js"></script>
    <script src="~/Scripts/js/_EstadoRequerimientoDesarrollo.js"></script>
    <script src="~/Scripts/js/RequerimientoDesarrollosConsulta.js"></script>
    <script src="~/Scripts/Utils/ChartTSMPersonalizar.js"></script>
}
<style>
    #gridSimulacion,
    #gridRentabilidad,
    #gridSimuConsumo {
        height: 100%;
    }
</style>
<div class="form-row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <div class="form-row">
                        <div class="form-group col-lg-4">
                            <label for="CmbIdServicio">Servicio :</label>
                            <input id="CmbIdServicio" name="CmbIdServicio" class="form-control" />
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="CmbIdCliente">Cliente :</label>
                            <input id="CmbIdCliente" name="CmbIdCliente" class="form-control" />
                        </div>
                        <div class="form-group col-lg-4 align-self-end">
                            @Html.Partial("_NuevaSimulacion")
                        </div>
                    </div>

                    <div id="splitter">
                        <div id="Panel1">
                            <div id="gridSimulacion"></div>
                        </div>
                        <div id="Panel2">
                            <div class="form-group col-lg-12">
                                @Html.Partial("_EstadoRequerimientoDesarrollo")
                            </div>
                            <div class="form-group col-lg-12">
                                <div id="TabSimulacion">
                                    <ul>
                                        <li class="k-state-active">
                                            Datos de Simulación
                                        </li>
                                        <li>
                                            Consumos
                                        </li>
                                        <li>
                                            Rentabilidad
                                        </li>
                                    </ul>
                                    <div id="TabPDatos">
                                        <div id="pvSimulacion" data-url='@Url.Action("SimulacionDatos","Simulaciones")'></div>
                                        @*@Html.Partial("_SimulacionDatos")*@
                                        @*Distribución de Costos*@
                                        <div class="form-row">
                                            <div class="col-md-12 col-lg-12"><label class="font-weight-bold">Distribución de Costos</label></div>
                                        </div>
                                        <div class="form-row">
                                            <div id="chart" class="col"></div>

                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-lg-4 align-self-end">
                                                <div class="input-group">
                                                    <div style="width: 100%;">
                                                        <span id="chartexp2"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="TabPConsu">
                                        <div class="form-row">
                                            <div class=" form-group col-lg-12"><div id="gridSimuConsumo"></div></div>
                                        </div>
                                    </div>
                                    <div id="TabPSimu">
                                        <div class="form-row">
                                            <div class=" form-group col-lg-12"><div id="gridRentabilidad"></div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @* div utilizado para cargar la vista estados *@
                    <div class="form-row">
                        <div class="form-group col-md-12 col-lg-12" id="vConsultaEstados"></div>
                    </div>
                    @* div utilizado para cargar la vista consulta de analisis *@
                    <div class="form-row">
                        <div class="form-group col-md-12 col-lg-12" id="vConsultaAnalisis"></div>
                    </div>
                    <div class="form-row">
                        @*Etiqueta vista parcial cambio de estado*@
                        <div class="form-control col-md-12 col-lg-12" id="vCambioEstado"></div>
                    </div>
                    <div class="form-row">
                        <div id="vConsulta"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





